$color:#5B5B5B;

//主题色
$colorPink: #FF80AB;

//颜色-阴影
$colorShadow: #E0E0E0;

//颜色-border line
$colorLine: #EEEEEE;

//颜色-背景
$colorBackgroud: #FBFBFB;

.scroll-content{
	color: $color;
	font-family: "微软雅黑";
	background: $colorBackgroud;
}
.menu-header{
	width: 100%;
	padding: 20px 0px 15px 0px;
	line-height: 20px;
	letter-spacing: 0.5px;
	background:linear-gradient(#E3E3E3,#F6F6F6) ; 
}
.menu-avatar{
	content: url('../assets/image/avatar.jpg');
	width: 80px;
	height: 80px;
	border-radius: 40px;
	padding: 2px;
	margin: 0px auto;
	box-shadow: 2px 2px 2px #C8C8C8;
}
.menu-name{
	margin-top: 5px;
}
.menu-detail{
	padding: 0px 40px;
	font-size: 12px;
}
.menu-list {
	width: 100%;
	margin-top: 30px;
	line-height: 60px;
	letter-spacing: 2px;
	text-align: center;
	color: #8D8D8D;
}
.menu-footer{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #CACACA;
	font-size: 12px;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
